fastapi>=0.128.0
uvicorn==0.23.2
greenlet==2.0.2
sqlalchemy==2.0.23
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
python-multipart==0.0.6
aiofiles==23.2.1
pypdf2==3.0.1
python-magic==0.4.27
# 数据库驱动
psycopg2-binary==2.9.9
